<!doctype html>

<html lang="en-US" data-ng-app="vokal">

    <head>

        <meta charset="utf-8">
        <title>Vokal Web Application</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="/build/project.css?v={{ VERSION }}">

        <base href="/">

    </head>

    <body data-ng-controller="Site as site">

        <header>
            Vokal Web Application
        </header>

        <main data-ng-view></main>

        <footer>
            Copyright
        </footer>

        <script src="/build/angular.js?v={{ VERSION }}"></script>
        <script src="/build/components.js?v={{ VERSION }}"></script>
        <script src="/build/project.js?v={{ VERSION }}"></script>
        <script src="/build/templates.js?v={{ VERSION }}"></script>

    </body>

</html>
