<!doctype html>

<html lang="en-US" data-ng-app="vokal">

    <head>

        <meta charset="utf-8">
        <title>Tetra - IA Diagram Creator</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/build/project.css?v={{ VERSION }}">

        <base href="/">

    </head>

    <body data-ng-controller="Site">

        <div data-ng-include="'/build/templates/partials/header.html'"></div>

        <div data-ng-include="'/build/templates/partials/control-bar.html'" class="sidebar"></div>

        <main class="main-container">
            <div class="canvas-container">
                <canvas id="main"></canvas>
            </div>
        </main>

        <script src="/build/jquery.js?v={{ VERSION }}"></script>
        <script src="/build/angular.js?v={{ VERSION }}"></script>
        <script src="/build/components.js?v={{ VERSION }}"></script>
        <script src="/build/project.js?v={{ VERSION }}"></script>
        <script src="/build/templates.js?v={{ VERSION }}"></script>

    </body>

</html>
