@charset "utf-8";

/* Application Styles */

body, html {
    position: relative;
    height: 100%;
}

header {
    position: relative;
    z-index: 10;
    display: block;
    padding: 10px;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);

    img {
        width: 100px;
        height: auto;
    }
}

.sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    z-index: 1;

    aside {
        float: left;
        width: 100%;
        height: 100%;
        padding: 20px 15px;
        background: #dbdbdb;
    }
}

main {
    float: left;
    width: 75%;
    height: 100%;
}

canvas {
    border: 1px solid #000;
}